{% extends "dublinBus/base.html" %}
{% block title %}Test twitter page{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Eoghan</h3>
                    <p class="card-text">Code Lead</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Shane</h3>
                    <p class="card-text">Maintenance lead</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Finnian</h3>
                    <p class="card-text">Coordination lead</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ross</h3>
                    <p class="card-text">Customer lead</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <p>link to github as image</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}