{% extends "dublinBus/base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
        <div class="sidebar-content" id="sidebar_content">

        </div>
    </div>

    <div id="cancellations_overlay" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCancellationsOverlay()">&times;</a>
        <div class="sidebar-content" id="cancellations_overlay_content">
            <h3 class="text-center orange-table">Cancelled Routes</h3>
            <table class="table table-dark">
                <thead>
                <tr class="orange-table">
                    <th scope="col">Route Name</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                {% for cancelled_route in result %}
                    <tr class="orange-table">
                        <td scope="row">{{ cancelled_route.route }}: {{ cancelled_route.headsign }}</td>
                        <td scope="row">{{ cancelled_route.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="content">
        <ul class="nav nav-tabs nav-fill fixed-bottom" role="tablist">
            <li class="nav-item" role="presentation"><a onclick="closeSidebar(); closeCancellationsOverlay()" class="nav-link active" role="tab"
                                                        data-bs-toggle="tab"
                                                        href="#tab-1"
                                                        style="border-color: var(--bs-dark);background: #819ca9;color: #f1f2f6;">Directions</a>
            </li>
            <li class="nav-item" role="presentation"
                style="border-color: var(--bs-dark);background: #819ca9;color: #f1f2f6;"><a onclick="closeSidebar(); closeCancellationsOverlay()"
                                                                                            class="nav-link" role="tab"
                                                                                            data-bs-toggle="tab"
                                                                                            href="#tab-2"
                                                                                            style="border-color: var(--bs-dark);background: #819ca9;color: #f1f2f6;">Routes</a>
            </li>
            <li class="nav-item" role="presentation"
                style="border-color: var(--bs-dark);background: #819ca9;color: #f1f2f6;"><a onclick="closeSidebar(); closeCancellationsOverlay()"
                                                                                            class="nav-link" role="tab"
                                                                                            data-bs-toggle="tab"
                                                                                            href="#tab-3"
                                                                                            style="border-color: var(--bs-dark);color: #f1f2f6;background: #819ca9;">Stops</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-1" style="text-align: center;">
                <div class="container" id="directions_input_container" style="padding: 5px">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="input-group mb-3">
                                <input type="text" id="origin-input" class="form-control"
                                       placeholder="Enter origin location"
                                       aria-label="origin input" aria-describedby="origin input">
                                <div class="input-group-append">
                                    <button id="dir_from_user_location" class="btn btn-primary" type="button">
                                        Use
                                        current
                                        location
                                    </button>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" id="destination-input" class="form-control"
                                       placeholder="Enter destination location"
                                       aria-label="destination input" aria-describedby="destination input">
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-md-3 offset-md-1 offset-1 col-5 my-2 text-center">
                                    <input type="date" id="date_input">
                                </div>
                                <div class="col-md-3 col-6 my-2 text-center">
                                    <input type="time" id="time_input">
                                </div>


                                <button class="btn btn-primary col-md-6 col-10 offset-md-1 offset-1 my-2 text-center" id="user_input_directions_btn">Get directions
                                    and
                                    predictions
                                </button>
</div>
                        </div>
                        <div class="col-md-12 col-12 my-2">
                            <div class="col-md-12 col-12 my-2" id="results_container" style="display: block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="tab-2">
                {# Everything under this div will be the main content of the page (not the sidebar) #}
                <div class="container" id="route_input_container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-12">
                            <div class="m-3 input-group">
                                <label for="routes_num"></label>
                                <datalist id="routes">
                                </datalist>
                                <input id="routes_num" list="routes" name="routes_num" class="form-control"
                                       placeholder="Please enter route number">
                                <div class="input-group-append">
                                <button class="btn btn-primary" id="get_directions"
                                    onclick="displaySelectedRoute()">Give
                                route
                            </button>
                                    </div>
                            </div>
                            </div>
                    </div>
                    <div class="row justify-content-around">
                                {% if user.is_authenticated %}
                            <div class="col-6 col-xl-3  col-xs-3 col-md-2 text-center">
                                        <button id="fav_routes_btn" class="btn btn-warning" type="button"
                                                onclick='fillSidebar( "{{ user.favourite_routes }}", "routes")'>Favourite routes
                                        </button>
                            </div>
                                {% endif %}
                        <div class="col-6 col-xl-3  col-xs-3 col-md-2 text-center">
                            <button class="btn btn-danger " id="get_cancellations"
                                    onclick="openCancellationsOverlay()">Cancellations
                            </button>
                            </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane" role="tabpanel" id="tab-3">
                <div class="container" id="stops_input_container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-12">
                    <div class="m-3 input-group">
                        <label for="stops_num"></label>
                        <datalist id="stops">
                        </datalist>
                        <input id="stops_num" list="stops" name="stops_num" class="form-control"
                               placeholder="Please enter stop number">

                        <div class="input-group-append">
                        <button class="btn btn-primary" id="get_stops">Give stops</button>
                            </div>
                            </div>
                    </div></div>
                    <div class="row" style="margin-bottom: 5px">
                        {% if user.is_authenticated %}
                        <div class="col-md-6 offset-md-3 col-12 text-center">
                                <button id="fav_stops_btn" class="btn btn-warning" type="button" data-toggle="canvas"
                                        data-target="#bs-canvas-left"
                                        aria-expanded="false" aria-controls="bs-canvas-left"
                                        onclick="fillSidebar( '{{ user.favourite_stops }}', 'stops')">Favourite
                                    stops
                                </button>
                        </div>
                        {% endif %}
                        <div class="col-2">
                            <div class="spinner-border text-warning" style="display: none" role="status" id="stops_spinner">
                                        <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
            </div>


        </div>
        <div id="map"></div>
            </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSRvxpJp1Hfw0kbaL0Ul_Zz81fzasE1sI&callback=initMap&libraries=places&v=weekly"
            async></script>

    {#        Make global variables for the logged in user so it can be accessed from scripts.js  #}
    {% if user.is_authenticated %}
        <script>
            var fare_status = `{{ user.fare_status }}`
            var leap_card = true;
            if (`{{ user.leap_card }}` === "False") {
                leap_card = false
            }
        </script>
    {% else %}
        <script>
            fare_status = "adult";
            leap_card = false;
        </script>
    {% endif %}
{% endblock %}
