{% extends "dublinBus/base.html" %}
{% block title %}MyAccount{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <ul class="nav nav-tabs nav-fill fixed-bottom" role="tablist">
                <li class="nav-item" role="presentation"
                    style="background: #819ca9;color: #ffffff;width: 50%;text-align: center;"><a class="nav-link  active"
                                                                                                 role="tab"
                                                                                                 data-bs-toggle="tab"
                                                                                                 href="#tab-3"
                                                                                                 style="background: #819ca9;color: #ffffff;">Favourites</a>
                </li>
                <li class="nav-item" role="presentation" style="width: 50%;text-align: center;"><a class="nav-link"
                                                                                                   role="tab"
                                                                                                   data-bs-toggle="tab"
                                                                                                   href="#tab-1"
                                                                                                   style="background: #819ca9;color: #ffffff;">User
                    Setting</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <div></div>
                    <div class="container">


                        <div class="row">
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body" id="first_name">
                                        <h3 class="card-title">First Name</h3>
                                        <p class="card-text">{{ request.user.first_name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body" id="last_name">
                                        <h3 class="card-title">Last Name</h3>
                                        <p class="card-text">{{ request.user.last_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body" id="email">
                                        <h3 class="card-title">Email</h3>
                                        <p class="card-text">{{ request.user.email }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 my-2">
                                <div class="card">
                                    <div class="card-body" id="username">
                                        <h3 class="card-title">User Name</h3>
                                        <p class="card-text">{{ request.user.username }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    {# The form only begins here because all the above information is unchangeable by the user #}
                    <div class="container" id="user_settings">
                        {# The form only begins here because all the above information is unchangeable by the user #}
                        <form action="update_user" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 my-2">
                                    <div class="card">
                                        <div class="card-body" id="fare_status">
                                            {# For each of the radio buttons we need to check the fare_status of the current user and select that status if that's what they are#}
                                            <h3 class="card-title">Fare Status</h3>
                                            <div class="card-text">
                                                {#  Child radio  #}
                                                {% if user.fare_status == 'child' %}
                                                    <div class="form-check"><input class="form-check-input" type="radio"
                                                                                   id="child_radio" checked="checked"
                                                                                   name="fare_status_radios"
                                                                                   value="child">
                                                {% else %}
                                                    <div class="form-check"><input class="form-check-input" type="radio"
                                                                                   id="child_radio"
                                                                                   name="fare_status_radios"
                                                                                   value="child">
                                                {% endif %}
                                                <label class="form-check-label"
                                                       for="child_radio">Child</label>
                                                </div>
                                                {#  Adult radio  #}
                                                {% if user.fare_status == 'adult' %}
                                                    <div class="form-check"><input class="form-check-input" type="radio"
                                                                                   id="adult_radio" checked="checked"
                                                                                   name="fare_status_radios"
                                                                                   value="adult">
                                                {% else %}
                                                    <div class="form-check"><input class="form-check-input" type="radio"
                                                                                   id="adult_radio"
                                                                                   name="fare_status_radios"
                                                                                   value="adult">
                                                {% endif %}
                                                <label class="form-check-label"
                                                       for="adult_radio">Adult</label>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                    {# Leap card section #}
                                    <div class="col-md-6 my-2">
                                    <div class="card">
                                    <div class="card-body" id="leapcard">
                                        <h3 class="card-title">Do You Own a LeapCard?</h3>
                                    <div class="card-text">
                                        {# leap card true radio #}
                                        {% if user.leap_card %}
                                            <div class="form-check"><input class="form-check-input" type="radio"
                                                                           id="leap_card_true" checked="checked"
                                                                           name="leap_card_radios" value="true">
                                                                {% else %}
                                                                    <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                           id="leap_card_true" name="leap_card_radios" value="true">

                                                                {% endif %}
                                                                <label class="form-check-label"
                                                                       for="leap_card_true">Yes</label>
                                                                </div>
                                                                {# leap card false radio #}
                                                                {% if not user.leap_card %}
                                                                    <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                           id="leap_card_false" checked="checked"
                                                                           name="leap_card_radios" value="false">
                                                                {% else %}
                                                                    <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                           id="leap_card_false" name="leap_card_radios" value="false">


                                                                {% endif %}
                                                                <label class="form-check-label"
                                                                       for="leap_card_false">No</label>
                                                                </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div style="text-align: center;" class="mt-4"><input type="submit"
                                                                                                         id="user_settings_button">
                                                    </div>
                        </form>
                    </div>

                    <div class="container" style="margin-bottom: 50px">
                        <div class="row justify-content-center">
                            <div class="col-4 text-center">
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#hide" aria-expanded="false" aria-controls="hide">
                                    Update Password
                                </button>
                            </div>
                        </div>
                        <div class="row text-white">
                            <div id="hide" class="collapse">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button id="password_change" value="password_change" type="submit">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
                {#  Tab 2 starts from here  #}
                <div class="tab-pane active" role="tabpanel" id="tab-3">
                    <div>
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="text-warning">Routes</h1>
                                    <div id="user_routes_container">
                                        <form method="post" action="add_user_route">
                                            {% csrf_token %}
                                            <label for="user_routes_form"></label>
                                            <div class="input-group mb-3">
                                                <input id="user_routes_form" list="user_routes" name="user_routes_form"
                                                       placeholder="Add route to favourites" class="form-control">
                                                <div class="input-group-append">

                                                    <button class="btn btn-warning" type="submit">+</button>
                                                </div>
                                            </div>
                                            <datalist id="user_routes"></datalist>

                                        </form>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-dark" id="fav_routes_table">
                                            <thead>
                                            <tr class="orange-table">
                                                <th>Route</th>
                                                <th>Timetable</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for fav_route in fav_routes %}
                                                <tr class="orange-table">
                                                    <td>{{ fav_route }}</td>
                                                    <td><a href="timetable/{{ fav_route }}" class="text-decoration-none text-warning">timetable</a></td>
                                                    {# need to add actual timetable link here #}
                                                    <td><a href="del_user_route/{{ fav_route }}" class="text-decoration-none text-warning">delete</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="text-warning">Stops</h1>
                                    <div id="user_stops_container">
                                        <form method="post" action="add_user_stop">
                                            {% csrf_token %}
                                            <label for="user_stops_form"></label>
                                            <div class="input-group mb-3">
                                                <input id="user_stops_form" list="user_stops" name="user_stops_form"
                                                   placeholder="Add stop to favourites" class="form-control">
                                                <div class="input-group-append">

                                                    <button class="btn btn-warning" type="submit">+</button>
                                                </div>
                                            </div>
                                            <datalist id="user_stops"></datalist>
                                        </form>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-dark" id="fav_stops_table">
                                            <thead>
                                            <tr class="orange-table">
                                                <th>Stop</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for fav_stop in fav_stops %}
                                                <tr class="orange-table">
                                                    <td>{{ fav_stop }}</td>
                                                    <td><a href="del_user_stop/{{ fav_stop }}" class="text-decoration-none text-warning">delete</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% block scripts %}
        <script>loadDataListsUser()</script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}