{% extends "dublinBus/base.html" %}
{% block title %}MyAccount{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>

#sidebar {
    min-width: 100%;
    max-width: 100%;
    /* top layer */
    background: #7386D5;
    color: #fff;
    z-index: 9999;
}

</style>
<div class="container-fluid" style="background-color: #29434E">
    <div class="row row-no-gutters">
        <h2 class="col-xs-12 col-12 text-uppercase text-center text-warning pt-3" id="Title"></h2>
        <div class="col-xs-1 col-2 col-md-1">
            <div class="row list-group_2 scroll_bar_chrome position-sticky" id="stop_list">


        </div>
        </div>
        <div id="unavailable" class="col-8 col-md-10 text-center text-warning"></div>
        <div class="col-xs-11 col-10 col-md-11">
            <div class="row mx-2" >
                <div class="row my-2" >
                <h2 class="col-xs-6 col-6 col-xl-2 text-center text-warning border border-warning" id="head_mon_fri">Mon - Fri</h2>
                <div id="mon_fri_content"></div>
                </div>
                <div class="row my-2" >
            <h2 class="col-xs-6 col-6 col-xl-2 text-center text-warning border border-warning" id="head_sat">Saturday</h2>
            <div id="sat_content"></div>
                    </div>
                <div class="row my-2" >
            <h2 class="col-xs-6 col-6 col-xl-2 text-center text-warning border border-warning" id="head_sun">Sunday</h2>
            <div id="sun_content"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>var parsedsched = JSON.parse('{{result|safe}}')</script>
<script>get_timetable_stops('{{result|safe}}')</script>


{% endblock %}

