/* Set the size of the div element that contains the map */
/*Css for map adapted from google maps tutorial  https://developers.google.com/maps/documentation/javascript/examples/directions-panel#maps_directions_panel-html*/
#map {
  /*flex-basis: 0;*/
  /*flex-grow: 4;*/
  height: 100%;
}
/*#container {*/
/*  height: 100%;*/
/*  display: flex;*/
/*}*/
/*#map {*/
/*  flex: auto;*/
/*}*/

/*Sidebar layout for directions panel taken from https://developers.google.com/maps/documentation/javascript/examples/directions-panel#maps_directions_panel-html*/
/*#sidebar {*/
/*  flex-basis: 15rem;*/
/*  flex-grow: 1;*/
/*  padding: 1rem;*/
/*  max-width: 30rem;*/
/*  height: 100%;*/
/*  box-sizing: border-box;*/
/*  overflow: auto;*/
/*}*/

/*#sidebar {*/
/*  flex: 0 1 auto;*/
/*  padding: 0;*/
/*}*/
/*#sidebar > div {*/
/*  padding: 0.5rem;*/
/*}*/
/*Css for origin and destination input taken from https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-directions#maps_places_autocomplete_directions-css*/
/*.controls {*/
/*  margin-top: 10px;*/
/*  border: 1px solid transparent;*/
/*  border-radius: 2px 0 0 2px;*/
/*  box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  height: 32px;*/
/*  outline: none;*/
/*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
/*}*/

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
