{% extends 'dublinBus/base.html' %}
{% load crispy_forms_tags  %}

{% block title %}Register{% endblock %}

{% block content %}
{#   Bootstrap styling can go here, I added some really basic bootstrap just following the guide I was using #}
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
    <button type="submit" class="btn btn-success">Register</button>
    <p>Forgot your password? <a href="/password_reset">Reset it here</a></p>
    <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
{% endblock %}